// colors
$primary-background-color: #ffffff;
$primary-text-color: #333333;
$secondary-text-color: #FFFFFF;
$btn-color: #859BA6;
$unactive-btn-text-color: #859BA6;

// fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Georgia', serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
