// colors
$primary-background-color: #ffffff;
$primary-text-color: #333333;
$secondary-text-color: #ffffff;
$btn-color: #859ba6;
$unactive-btn-text-color: #859ba6;
$main-gradient-color: #d4e3ec4d;
$secondary-gradient-color: #f7f9fb;

// fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Georgia', serif;
$font-size-lang-btn: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-heading: 24px;
